/*  chnage font family into good arabic one (  )   */
* {
    font-family: 'Cairo', sans-serif !important;

}

#trips ,#members_lis,#schools_lis,#orders_lis,#plans_lis,#voucher_lis,#car_types_lis,#taxes_lis,#points_lis,#places_lis,#settings_lis

{
    margin-right: 15px!important;


}


/*.sub-items .nav-link{*/
/*    color: #FF643F !important;*/
/*}*/
/*.sub-items .link-icon{*/
/*    color: #FF643F !important;*/
/*}*/

/*.sub-items:hover .nav-link{*/
/*    color: #0056B3 !important;*/
/*}*/
/*.sub-items:hover .link-icon{*/
/*    color: #0056B3 !important;*/
/*}*/
